set tabsize 4
set tabstospaces
set autoindent
set trimblanks
set linenumbers
set constantshow
set keycolor lightyellow
set functioncolor lightyellow
set numbercolor lightyellow
include /usr/share/nano/*.nanorc
include /usr/share/nano-syntax-highlighting/*.nanorc
